<% layout('layouts/boilerplate') -%>

<div class="container min-vh-100">
  <h1 class="text-center mt-5">Add Story</h1>
  <div class="row my-5 gy-5">
    <div class="col-6 offset-3">
      <form action="/story" method="POST" class="validated-form" novalidate>
        <div class="my-3">
          <label for="name">Title</label>

          <input
            type="text"
            name="story[title]"
            class="form-control"
            placeholder="title"
            required
          />
        </div>

        <div class="my-3">
          <label for="image">image</label>
          <input
            type="text"
            name="story[image]"
            class="form-control"
            placeholder="image"
            id="image"
            required
          />
        </div>
        <div class="my-3">
          <label for="location">Location</label>
          <input
            type="text"
            name="story[location]"
            class="form-control"
            placeholder="Location"
            id="location"
            required
          />
        </div>
        <div class="my-3">
          <label for="description">Description</label>
          <textarea
            type="text"
            name="story[description]"
            class="form-control"
            placeholder="Description"
            id="description"
            required
          ></textarea>
        </div>
        <button class="btn btn-primary btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>
