.card img {
  height: 250px;
}

.card-footer {
  padding-left: 0.5rem;
}

.carousel-control-prev,
.carousel-control-next {
  background: transparent;
  border: none;
}

.carousel__image {
  height: 20rem;
  object-fit: fill;
}
