<% layout('layouts/boilerplate') -%>

  <div class="container min-vh-100 d-flex flex-column">

    <div class="row justify-content-center">

      <div class="col-lg-6 col-md-6 col-sm-6 border reset__form">
        <form action="/forgot" method="POST" class="validated-form" novalidate>
          <div class="mb-3">
            <legend class="text-center my-5">Enter email to reset</legend>
            <label for="email"></label>
            <input id="email" type="text" name="email" class="form-control"
              placeholder="Please enter your email address" value="" required />
            <div class="valid-feedback">Looks Good!</div>
          </div>

          <button class="btn btn-primary btn-lg btn-block w-100">
            Reset
          </button>
        </form>
      </div>
    </div>
  </div>