<% layout('layouts/boilerplate') -%>

<div class="container min-vh-100">
  <div class="row">
    <h4 class="my-5 text-center">Please Register new user</h4>
    <div class="col-6 offset-3 p-5">
      <form action="/register" method="POST" class="validated-form" novalidate>
        <div class="mb-3">
          <label for="username">Username</label>
          <input
            id="username"
            type="text"
            name="username"
            class="form-control"
            placeholder="Please enter new username"
            value=""
            required
          />
          <div class="valid-feedback">Looks Good!</div>
        </div>
        <div class="mb-3">
          <label for="email">Email</label>
          <input
            id="email"
            type="email"
            name="email"
            class="form-control"
            placeholder="Please enter your email address"
            value=""
            required
          />
          <div class="valid-feedback">Looks Good!</div>
        </div>
        <div class="mb-3">
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            name="password"
            class="form-control"
            placeholder="Enter new password"
            pattern="(?=\S*[a-z])(?=\S*[A-Z])(?=\S*\d)(?=\S*[^\w\s])\S{8,30}"
            value=""
            required
          />
          <div class="valid-feedback">Looks Good!</div>
          <div class="invalid-feedback">
            "Must be 8 characters long, must have one upperCase, one lowerCase,
            one special character[",#,!,%"] and no longer than 30 characters
          </div>
        </div>

        <!-- Admin -->
        <div class="mb-3">
          <label for="admin">Admin</label>
          <input
            id="admin"
            type="text"
            name="adminCode"
            class="form-control"
            placeholder="Please enter your Admin Code"
          />
          <div class="valid-feedback">Looks Good!</div>
        </div>

        <button class="btn btn-primary w-100">Register</button>
      </form>
    </div>
  </div>
</div>
